/* Mobile */
@media screen and (max-width: 768px){
    *{
        max-width: 768px;
        border: 1px  black;
        
    }

    body{
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*header*/

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a{
        align-content: center;
        margin-left: 50px;
        padding-top: 40px;
        font-size: 16px;
        margin-right: 77px;
    }

    .search-bar{
        align-items: center;
        justify-content: center;
    }

    .fa-magnifying-glass{
        visibility: visible;
    }

    .filtres{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-filter-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .filtres-buttons{
        flex: 30%;
    }

    #middle{
        display: flex;
        flex-direction: column-reverse;
    }

/* Middle Populaire */

    .middle-pop{
        border-radius: 0px;
    }

    .middle-pop-cards{
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 20px;
        min-height: 100%;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        gap: 10px;
    }

    .card-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        
    }

    .card-main-bottom{
        display: flex;
        flex-direction: column;
        height: 30%;
    }


    .card img{
        height: 40%;
        min-width: 50%;
        max-width: 100%;
        background-color: #d9d9d9;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        border: solid 2px white;
    }

/*ACtivités*/

    .activites-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}