/*Tablette

@media screen and (max-width: 992px) {

    body {
        max-width: 992px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
  
    }

    #middle {
        display: flex;
        flex-direction: column;
    }

    .popular{
        min-height: 278px;
        max-width: 100%;
    }

    .middle-pop {
        display: flex;
        flex-direction: row;
    }
    .activites-cards {
        max-width: 50%;
    }
}
*/